form{
    width: 45dvw;
    height: 30dvh;
    border-radius: 15px;
    display: flex;
    background-color: rgb(27, 27, 27);
    align-items: center;
    flex-direction: column;
}

h3{
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

textarea{
    width: 90%;
    height: 20%;
    margin: 15px 0px;
    padding: 10px;
    border-radius: 5px;
}

.TodoForm--alert{
    width: 40dvw;
}

.TodoForm--alert-hiden {
    display: none;
}

.TodoForm--alert p{
    color: rgb(209, 3, 3);
    text-align: center;
    font-size: 1rem;
}

.TodoForm-buttonContainer{
    width: 45dvw;
    height: 7dvh;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.TodoForm-button{
    width: 15dvw;
    height: 4dvh;
    margin: 15px 13px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: 0.5s;
}



.TodoForm-button__add:hover{
    color: white;
    scale: 1.1;
    background-color: #313e20;
    box-shadow: 0 0 10px #313e20;
}

.TodoForm-button__cancel:hover{
    color:white;
    scale: 1.1;
    background-color: #511b06;
    box-shadow: 0 0 10px #511b06;
}

.TodoForm-button__add:focus{
    color: white;
    scale: 1.1;
    background-color: #313e20;
}

.TodoForm-button__cancel:focus{
    color:white;
    scale: 1.1;
    background-color: #511b06;
}


@media screen and ( max-width: 768px){
    form{
        width: 80dvw;
        height: 40dvh;
    }

    textarea{
        height: 40%;
    }

    .TodoForm-buttonContainer {
        width: 70dvw;
    }

    .TodoForm-button {
        width: 25dvw;
        height: 5dvh;
        margin: 5px 10px;   
    }

    .TodoForm-button__add:focus{
        color: white;
        scale: 0;
        background-color: #313e20;
    }
    
    .TodoForm-button__cancel:focus{
        color:white;
        scale: 0;   
        background-color: #511b06;
    }
}

.TodoForm--alert-hiden {
    display: none;
}