.TodoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vmax;
    width: 50vmax;
    padding: 10px 7px;
    margin: 10px 5px;
    background: #E2DFDA;
    border-radius: 5px;
}

.TodoItem--active{
    background: #b9b9b9;
}

.TodoItem-check:hover{
    color: #04b15b;
}

.TodoItem-check--active{
    color: #04b15b;
}

.TodoItem-parrafo{
    font-weight: 500;
}

.TodoItem-parrafo--active{
    text-decoration: line-through;
    color: #7F7C6D;
}

.TodoItem-delete{
    position: relative;
    bottom: 40%;
    left: 2%;
}

.TodoItem-delete:hover{
    color: #a80000;
}

.TodoItem-delete--active{
    color: #a80000;
}

@media only screen and (width > 425px) {
    .TodoItem-delete{
        left: 0;
    }
}

@media only screen and (width > 768px) {
    .TodoItem-delete{
        left: 0;
    }

    .TodoItem{
        height: 5vmax;
    }

    .TodoItem-delete{
        bottom: 30%;
    }
}