.TodoSearch{
    display: flex;
    justify-content: center;
    align-items: center;
}

.TodoSearch-input{
    text-align: center;
    height: 4dvh;
    width: 90dvw;
    padding: 10px;
    background: #E2DFDA;
    border: 1px solid #7F7C6D;
    border-radius: 13px;
}

.TodoSearch-input::placeholder{
    text-align: center;
    font-size: medium;
    font-style: italic;
}


