h1 {
    margin: 0;
    padding: 1.5rem 0.6rem;
    color: #E2DFDA;
    font-size: 2.5rem;
    text-align: center;
}

@media only screen and (width > 425px) {
    h1{
        font-size: 3vmax;
    }
}