.TodoTutorial{
    width: 70dvw;
    height: 75dvh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 15px;
}

.TodoTutorial--title{
    font-size: 3.5rem;
    padding: 1.5rem;
    text-align: center;
}

.TodoTutorial--parragraph{
    width:65dvw;
    font-size: 1.5rem;
    padding: 0 1.5rem;
}

.TodoTutorial--subtitle{
    width: 50dvw;
    text-align: center;
    align-self: center;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #560070;
    border-radius: 10px;
}

.TodoTutorial--button{
    height: 6dvh;
    width: 60dvw;
    margin: 1.5rem 0rem;
    border-radius: 15px;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    align-self: center;
    background-color: #313e20;
}

.TodoTutorial--button:hover{
        color: white;
        background-color: #41502e;
        box-shadow: 0 0 10px #41502e;
}

@media only screen and ( max-width: 425px ) {  

    .TodoTutorial{
        width: 90dvw;
        height: 96dvh;
        align-items: center;
        text-align: center;
    }

    .TodoTutorial--title{
        font-size: 1rem   ;
        padding: 1rem;
    }

    .TodoTutorial--parragraph{
        font-size: 1rem;
    }

    .TodoTutorial--subtitle{
        width: 60dvw;
        font-size: 1rem;
    }
 }

 @media only screen and ( max-width: 1024px) and ( min-width: 426px){  

    .TodoTutorial{
        height: 85dvh;
    }

    .TodoTutorial--title{
        font-size: 3rem   ;
        padding: 1rem;
    }

    .TodoTutorial--parragraph{
        font-size: 1rem;
    }
 }